* {
  box-sizing: border-box;
}

:root {
  --slider-offset: 0.3em;
  --font-playful: "Cherry Bomb One", system-ui;
  --font-secondary: "Noto Sans KR", sans-serif;
  --hot-pink-magenta: #db4eaa;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #f7ecf4;
  font-family: var(--font-secondary);
}

#main-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c1cfa1;
  padding: 0 2em;
}

#main-header h1 {
  color: white;
  margin: 0;
  font-family: var(--font-playful);
  -webkit-text-stroke: 0.5px var(--hot-pink-magenta);
  font-size: 2em;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 0 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
}

section {
  margin: 1rem auto;
  width: 40rem;
  max-width: 90%;
}

section ul {
  padding: 1rem;
  max-height: 20rem;
  overflow: scroll;
  scrollbar-width: none;
}

section h2 {
  color: white;
  margin: 0;
  font-family: var(--font-playful);
  font-weight: 100;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.action-btns {
  width: 95%;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  margin-top: 1.5em;
}

button {
  font: inherit;
  font-weight: 700;
  background-color: #c1cfa1;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  border-radius: 25px;
  border: 3px #c1cfa1 solid;
  min-width: 35%;
}

#main-header button {
  min-width: 2%;
  font-size: 2em;
  background-color: rgb(140, 168, 97);
  margin-top: 0.5%;
  font-family: var(--font-playful);
  font-weight: 700;
  border-radius: 35px;
  line-height: 0em;
  padding: 1rem 1rem 1.5rem;
  vertical-align: middle;
}

button.alt {
  background: white;
  color: #c7919f;
  border: 3px #c7919f solid;
}

li button {
  font-size: 0.9rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: var(--hot-pink-magenta);
  border-color: var(--hot-pink-magenta);
  color: white;
}

#main-header button:hover,
#main-header button:hover {
  border: none;
  border-radius: 35px;
}

.card {
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background-color: white;
  color: rgb(192, 95, 119);
}

#active-projects ul {
  background-color: #edcdd6;
  border-radius: 0 0 25px 25px;
}

#active-projects > header {
  background: #ed8cb6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
}

#active-projects button:first-of-type,
#active-projects button:last-of-type,
#finished-projects button:first-of-type,
#finished-projects button:last-of-type {
  min-width: 10%;
  padding: 0.6rem 1rem;
}

header h2 {
  color: white;
  margin: 0;
  font-family: var(--font-playful);
  font-size: 2.2em;
}

#finished-projects ul {
  background-color: #e6e8e3;
  border-radius: 0 0 25px 25px;
}

#finished-projects > header {
  background: #c1cfa1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
}

#finished-projects .card {
  color: rgb(140, 168, 97);
}

#finished-projects h2,
#active-projects h2 {
  -webkit-text-stroke: 1px var(--hot-pink-magenta);
}

#finished-projects button {
  background-color: #eea7b9;
  border: 3px #eea7b9 solid;
  padding: 0.6rem 1.1rem;
}

#finished-projects button.alt {
  background-color: white;
  border: 3px #aeb698 solid;
  color: #aeb698;
}

#bunny-container.card {
  text-align: center;
  height: 70vh;
  display: none;
  flex-direction: column;
}

#bunny-container.card h2 {
  font-size: 3em;
  margin: 0;
}

#bunny-img-container {
  flex: 1;
}

#bunny-img-container img {
  height: 70%;
}

.switch {
  background-color: white;
  border-radius: 25px;
  position: relative;
  display: flex;
  z-index: 0;
  overflow: hidden;
  padding: 0;
}

.switch button {
  z-index: 2;
  background-color: transparent;
  flex: 1;
  cursor: pointer;
  border: none;
}

.switch button:first-of-type {
  color: white;
}

.switch button:last-of-type {
  color: rgb(140, 168, 97);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ed8cb6;
  border-radius: 25px;
  z-index: 1;
  transition: all 0.3s ease;
}

.switch.active .slider {
  left: 50%;
}

#active-projects ul.droppable,
#finished-projects ul.droppable {
  background-color: #ff2579;
}

#bunny-container h2 {
  -webkit-text-stroke: 2px var(--hot-pink-magenta);
}

.rounded-full {
  border-radius: 25px;
}

#active-projects > header.rounded-full,
#finished-projects > header.rounded-full {
  border-radius: 25px;
  padding-bottom: 1em;
}

/* modal css */

.modal__content {
  display: flex;
  flex-direction: column;
}

.modal {
  width: 90%;
  align-items: center;
  position: fixed;
  z-index: 100;
  display: none;
  justify-self: center;
}

.modal.visible {
  display: flex;
  flex-direction: column;
  animation: fade-slide-in 0.4s ease-out forwards;
}

form {
  width: 70%;
}

.modal__content input {
  width: 100%;
  border-radius: 25px;
  padding: 0.3rem 0.9rem;
  border: 2px #aeb698 solid;
  font-family: var(--font-secondary);
  color: rgb(192, 95, 119);
  font-size: 1.3rem;
}

.modal__content label {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  font-family: var(--font-playful);
  color: white;
  -webkit-text-stroke: 1px var(--hot-pink-magenta);
}

.modal__content input:focus {
  outline: 2px var(--hot-pink-magenta) solid;
  border: none;
}

.modal__actions {
    margin-top: 1rem;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: smaller;
}

.modal__actions button {
    padding: 0.6rem 1.2rem;
    min-width: 35%;
}

/* backdrop */

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(202, 207, 197, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

#bunny-container p {
  white-space: pre-line;
}

/* media queires */
@media (min-width: 344px){
 
  nav {
    margin-top: 5%;
  }

  #main-header {
    padding: 0 1.5em;
  }

  #main-header h1 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .action-btns {
    width: 100%;
  }

  li button {
    padding: 0.6rem 1.2rem;
  }
 
  #bunny-container, #projects {
    margin-top: 10%;
  }
  
  #bunny-img-container img {
    height: 55%;
    margin-top: 5%;
}
}

@media (min-width: 412px){
 
  nav {
    margin-top: 5%;
  }
 
  #bunny-container {
    margin-top: 5%;
  }
  
  #bunny-img-container img {
    height: 65%;
}
}

@media (min-width: 768px){
 
  nav {
    margin-top: 2%;
  }
 
  .modal__content label {
    font-size: 1.7rem;
  }

  .modal__actions {
    width: 60%;
  }

  .modal__actions button {
    font-size: 1.3rem;
    min-width: 45%;
  }

  #bunny-container, #projects  {
    margin-top: 5%;
  }

  #bunny-container p {
    font-size: 1.3rem;
  }
  
}

@media (min-width: 912px){
 section {
  width: 60rem;
 }


 header h2 {
  font-size: 2.5rem;
 }

 button, li button {
  font-size: 1.3rem;
 }

  h3 {
  font-size: 1.7rem;
}


 #bunny-img-container img {
    height: 75%;
}
}

@media (min-width: 1000px){
 section {
  width: 50rem;
 }

 #main-header h1 {
  font-size: 2rem;
 }

 header h2 {
  font-size: 2rem;
 }

 button, li button {
  font-size: 1rem;
 }

 nav {
  margin-top: 1%;
 }

 #bunny-container, #projects  {
    margin-top: 2%;
  }

  h3 {
  font-size: 1.5rem;
}

 p, #bunny-container p {
  font-size: 1.2rem;
 }

 #bunny-img-container img {
    height: 55%;

}
}

